/*
  mixings
  */
.animation(@animation) {
  -webkit-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}

/**********************************

Styles of records

***********************************/

table .records{
    border-collapse: collapse;
}

td {
    // border-bottom: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

td.date {
    font-family: monospace;
    color: #777;
    border: 1px solid #ccc;
}

[data-action="setDate"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

.scheduled .date{
    color: green;
}

.current-date {
    color: #000;
}

tr {
    &.schedule {
        font-weight: bold;
        background-color: #ddd;
        border: 1px solid #ccc;
    }
    &.record {
        border: 1px solid #ccc;
    }
    &.playing {
        border: 2px solid #000;
        background-color: #eae;
    }
    &.will-be-next {
        border: 2px solid #000;
    }
    &.prev-record-is-far {
        td {
            padding-top: 10px;
            padding-bottom: 5px;
            font-style: italic;
            font-family: Times;
            font-size: larger;
        }
    }
}

.file-ext {
    font-family: monospace;
}


td.dj a {
        color: red;
        font-weight: bold;
        color: #f00;
}

td.duration {
    font-family: monospace;
    border: 1px solid #ccc;
}


.file-size {
    text-align: right;
    font-family: monospace;

    &.file-small {
        color: #777;
    }
    &.file-large {
        font-weight: bold;
    }
}

.source {
    + .source {
        border-left: 1px solid #ccc;
        margin-left:.5em;
        padding-left:.5em;
    }
}

.source-url, .source-url:link {
    color: green;
    font-weight: bold;
    font-family: fantasy;
}

.play-btn {
    padding-left: 5px;
    padding-right: 15px;
    cursor: pointer;
    border: 1px solid #fff;
    &:hover {
        border: 1px outset #ccc;
    }
}
