table .records{
    border-collapse: collapse;
    border: 1px solid #ccc;
}

td {
    border-bottom: 1px solid #ccc;
}

td.date {
    font-family: monospace;
    color: #777;
    border: 1px solid #ccc;
}

[data-action="setDate"]:hover {
    text-decoration: underline;
}

.scheduled .date{
    color: green;
}

tr.schedule {
    font-weight: bold;
    background-color: #ddd;
    border: 1px solid #ccc;
}

td.dj a {
        color: red;
        font-weight: bold;
        color: #f00;
}

td.duration {
    font-family: monospace;
    border: 1px solid #ccc;
}
