<template name="saveAndProtect">
  <div class="text-center"><img src="/save_and_protect.png" /></div>

  <h3>Помощь проекту</h3>
  <p>Если у вас есть записи которых здесь нет, напишите <a href="mailto:anonyn107@gmail.com?subject=[anonfm] Хочу поделится с моими записями которых у вас нет">anonyn107@gmail.com</a></p>
  <p>Если есть лишнее место на вашем сервере, можно добавить зеркало, также пишите <a href="mailto:anonyn107@gmail.com?subject=[anonfm] О зеркале">anonyn107@gmail.com</a></p>

  <div class="text-center"><img src="/save2.jpg" /></div>
</template>
