<template name="latestFeed">

  <div class="row">
    <div class="col-md-12">
      {{#each comments}}
        <div class="feed-container">
          <div class="record">
            Комент к:
            <a href="{{pathFor route="comments" record=record}}">
              {{record}}
            </a>
          </div>
          {{> comment}}
        </div>
      {{else}}
        Нет коментариев
      {{/each}}
    </div>
  </div>

  <div class="row">
    <nav class="col-offset-2 col-md-3">
      <ul class="pager">
        {{#if lastDate}}
          <li class="previous"><a href="{{pathFor route="latestFeed" date=firstDate  dir="later"}}">
            <i class="fa fa-long-arrow-left"></i>Старые</a></li>
          <li class="next"><a href="{{pathFor route="latestFeed" date=lastDate dir="newer"}}">
            Новые<i class="fa fa-long-arrow-right"></i></a></li>
        {{/if}}
      </ul>
    </nav>
  </div>

</template>
