<template name="filter">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="form-group">
        {{>datePick}}
      </div>
    </div>
    <div class="col-md-8 col-sm-7">
      <div class="form-group">
        {{> DjListSelect}}
      </div>
    </div>
    <div class="col-md-1 col-sm-1">
      <div class="form-group">
        <button data-action="reset" class="btn btn-default">
          Сброс
        </button>
      </div>
    </div>
  </div>
</template>

<template name="DjListSelect">
  <select class="form-control"></select>
</template>

<template name="datePick">
  <div class="input-group date">
    <input id="datePick" type='text' class="form-control" />
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
  </div>
</template>
