<template name="records">

  {{> filter}}

  <table class="table records">
    <thead>
      <tr>
        <th>Дата</th><th class="col-md-3">Диджей</th><th>Прод</th><th class="col-md-7">Запись</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        {{> fileRow}}
      {{else}}
        <tr>
          <td colspan="4">
            <div class="alert">
              <i class="fa fa-exclamation-triangle"></i>
              Ненайдено записей,
              <button class="btn btn-link" data-action="setDateNow">
                кликни чтобы установить теперешнее время.
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="fileRow">
  {{#if isSch}}
    <tr class="schedule">
      <td class="date " nowrap>
        <span data-action="setDate">{{created}}</span>
      </td>
      <td class="dj">
        <a href="{{pathFor route="records"}}">
        {{dj}}
        </a>
      </td>
      <td class="duration">{{durationHHMM}}</td>
      <td>{{schedule}}</td>
    </tr>    
  {{else}}
  <tr class="record {{scheduledClass}} {{playingClass}}">
    <td class="date" nowrap>
      <span data-action="setDate">{{created}}</span>
    </td>
    <td class="dj">
      <a href="{{pathFor route="records"}}">
        {{dj}}
      </a>
    </td>
    <td class="duration">{{durationHHMM}}</td>
    <td>
      {{fname}}
      {{#each sources}}
        {{#unless rm}}
          {{>fileSource}}
        {{/unless}}
      {{/each}}
    </td>   
  </tr>
  {{/if}}
</template>

<template name="fileSource">
  {{#if playing}}
    <i data-play="pause" class="fa fa-fw fa-pause"></i>
  {{else}}
    <i data-action="play" class="fa fa-fw fa-play"></i>
  {{/if}}
    <a href="{{fileUrl}}">[{{title}}]</a>
</template>
