<template name="records">

  {{> filter}}

  <table class="records">
    <thead>
      <tr>
        <th>Дата</th><th class="col-md-3">Диджей</th><th>Прод</th><th class="col-md-7">Запись</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        {{> fileRow}}
      {{else}}
        <tr>
          <td colspan="4">
            <div class="alert">
              <i class="fa fa-exclamation-triangle"></i>
              Ненайдено записей,
              <button class="btn btn-link" data-action="setDateNow">
                кликни чтобы установить теперешнее время.
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="fileRow">
  <tr class="{{addClassIf2 isSch "schedule" "record"}}
             {{addClassIf isScheduled "scheduled"}}
             {{addClassIf nextIt "will-be-next"}}
             {{addClassIf playingIt "playing"}}">

    <td class="date" nowrap>
      <span data-action="setDate" class="{{addClassIf filter_eq_date "current-date"}}">{{created}}</span>
    </td>
    <td class="dj">
      <a href="{{pathFor route="records"}}">
        {{dj}}
      </a>
    </td>
    <td class="duration">{{durationHHMM}}</td>
    <td>
      {{#if isSch}}
        {{schedule}}
      {{else}}
        {{fname}}
        {{>recordSources}}
      {{/if}}
    </td>
  </tr>
  {{#if isLargeDistance}}
    {{>largeDistance t=t}}
  {{/if}}
</template>

<template name="largeDistance">
    <tr class="prev-record-is-far">
      <td colspan="4">
        ... И спустя {{prevRecDistance}} ...
      </td>
    </tr>
</template>
