<template name="player">
  <div class="row">
    <div class="col-md-12">
      <div class="player" id="player"></div>
    </div>
  </div>
  <div class="row player-info-box">
    {{>playerInfoBar currentRecord=currentRecord}}
  </div>
</template>

<template name="playerInfoBar">
  {{#if currentRecord}}
    <div class="col-md-12">
      Сейчас:
      {{#with currentRecord}}
        {{>btnThisDj dj=dj}}
        <span class="filename">{{fname}}</span>
        {{>social ctx=this}}
        {{>recordSources}}
      {{/with}}
    </div>
    <div class="col-md-12">
      Потом будет:
      {{#with nextRecord}}
        {{dj}}
        <span class="filename">{{fname}}</span>
        {{>social ctx=this}}
        {{>recordSources}}
       {{else}}
        <span class="no-more">
          а все, нет больше никого.. Посетите <a href="http://anon.fm">anon.fm</a> чтобы обмазаться свежим ефиром.
        </span>
      {{/with}}
    </div>
  {{/if}}
</template>

<template name="btnThisDj">
  <button data-action="toggle-dj"
          data-toggle="tooltip" data-title="Играть следующий только этого dj"
          data-placement="right"
          class="btn btn-sm btn-default {{addClassIf nextDjOnly "active"}}" autocomplete="off">
    {{dj}}
  </button>
</template>
