<template name="recordSources">
  <span class="sources">
    {{#if preview}}
      <span class="source">
        {{#if plaingPreview}}
          <i data-action="pausePreview" class="play-btn fa fa-fw fa-pause"></i>
        {{else}}
          <i data-action="playPreview" class="play-btn fa fa-fw fa-play"></i>
        {{/if}}
        <span class="source-url" title="Listen record preview">
          [Preview]
        </span>
      </span>
    {{/if}}
    {{#each sources}}
      {{#unless rm}}
        {{>recordSourceItem}}
      {{else}}
        {{#if isAdmin}}
        <span class="removed-from-source">
          {{>recordSourceItem}}
        </span>
        {{/if}}
      {{/unless}}
    {{/each}}
  </span>
</template>

<template name="recordSourceItem">
  <span class="source">
    {{#if playing}}
      <i data-action="pause" class="play-btn fa fa-fw fa-pause"></i>
    {{else}}
      <i data-action="play" class="play-btn fa fa-fw fa-play"></i>
    {{/if}}
    <a class="source-url" title="Скачать запись &quot;{{folder}}/{{../fname}}&quot;" target="_blank" href="{{fileUrl}}">[{{title}}]</a>
  </span>
</template>
