<template name="recordSources">
  <span class="sources">
    {{#each sources}}
      {{#unless rm}}
        {{>recordSourceItem}}
      {{/unless}}
    {{/each}}
  </span>
</template>

<template name="recordSourceItem">
  <span class="source">
    {{#if playing}}
      <i data-action="pause" class="play-btn fa fa-fw fa-pause"></i>
    {{else}}
      <i data-action="play" class="play-btn fa fa-fw fa-play"></i>
    {{/if}}
    <a class="source-url" title="Скачать запись &quot;{{folder}}/{{../fname}}&quot;" target="_blank" href="{{fileUrl}}">[{{title}}]</a>
  </span>
</template>
