<template name="records">

  {{> filter}}

  <table class="records">
    <thead>
      <tr>
        <th>Дата</th>
        <th class="col-md-3">Диджей</th>
        <th>Прод</th>
        <th>Разм</th>
        <th>Тип</th>
        <th class="col-md-7">Запись</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        {{> fileRow}}
      {{else}}
        <tr>
          <td colspan="4">
            <div class="alert">
              <i class="fa fa-exclamation-triangle"></i>
              Ненайдено записей,
              <button class="btn btn-link" data-action="setDateNow">
                кликни чтобы установить теперешнее время.
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="fileRow">
  <tr class="{{addClassIf2 isSch "schedule" "record"}}
             {{addClassIf isScheduled "scheduled"}}
             {{addClassIf nextIt "will-be-next"}}
             {{addClassIf playingIt "playing"}}
             {{addClassIf rm "record-removed-by-admin"}}">

    <td class="date" nowrap>
      <span data-action="setDate"
            class="{{addClassIf filter_eq_date "current-date"}}"
            data-toggle="tooltip" data-placement="right"
            data-title="{{dateFromNow}}">
        {{created}}
      </span>
    </td>
    <td class="dj">
      <a href="{{pathFor route="records"}}">
        {{dj}}
      </a>
    </td>
    <td class="duration">{{durationHHMM}}</td>
    {{#if isSch}}
      <td colspan="3">
        {{>fileRowActions ctx=this}}
        {{schedule}}
      </td>
    {{else}}
      <td class="file-size
                 {{addClassIf smallFile "file-small"}}
                 {{addClassIf largeFile "file-large"}}">
        <span data-toggle="tooltip" data-placement="right" data-title="{{fileSize}}">
          {{fileSzHumanized}}
        </span>
      </td>
      <td>{{fileExt}}</td>
      <td>

        {{>fileRowActions ctx=this}}

        {{>recordSources}}
      </td>
    {{/if}}
  </tr>
  {{#if isLargeDistance}}
    {{>largeDistance t=t}}
  {{/if}}
</template>

<template name="largeDistance">
    <tr class="prev-record-is-far">
      <td colspan="5">
        ... И спустя {{prevRecDistance}} ...
      </td>
    </tr>
</template>

<template name="fileRowActions">
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      cfg
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        {{#if ctx.rm}}
          <a href="#" data-action="restore">
            <i class="fa fa-share"></i>
            Востановить
          </a>
        {{else}}
          <a href="#" data-action="remove">
            <i class="fa fa-trash"></i>
            Удалить
          </a>
        {{/if}}
      </li>
      {{#unless ctx.isSch}}
        <li>
          {{#if ctx.schOkAdm}}
            <a href="#" data-action="schNotOk">
              <i class="fa fa-fw"></i>
              Убрать из под расписаня
            </a>
          {{else}}
            {{#unless ctx.schOk}}
              <a href="#" data-action="schOk">
                <i class="fa fa-fw"></i>
                Запись под расписанием (принудительно)
              </a>
            {{/unless}}
          {{/if}}
        </li>
      {{/unless}}
    </ul>
  </div>
</template>
